footer {
  background-color: #1c1d1f;
  padding: 1px;
  margin-top: 25px;
}
.container-top {
  margin-left: 5%;
}
.foot-title {
  color: white;
  border-bottom: 1px solid gray;
  padding-bottom: 2%;
  font-weight: bold;
  font-size: 20px;
  padding: none;
  padding-top: 2%;
}
.foot-title p {
  display: inline;
  padding-right: 3%;
}
.foot-img {
  margin-right: 3%;
}
.footer-catiogreis {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 4%;
  width: 50%;
}
.cat-a {
  color: white;
  margin-left: 5%;
  padding-top: 2%;
}
.img-log {
  padding-top: 2%;
  padding-left: 5%;
  width: 200px;
}
@media screen and (max-width: 920px) {
  .footer-catiogreis {
    grid-template-columns: 1fr 1fr;
    padding: 2% 4%;
    width: 100%;
  }
}
