.requirement ul {
  padding: 0;
  padding-left: 15px;
  padding-right: 50px;
  font-size: 15px;
  margin-top: 17px;
}
.requirement h2 {
  font-size: 22px;
  font-weight: 700;
}
.requirement {
  margin-top: 32px;
}
